@charset "UTF-8";

* {
	font-family: 'Noto Sans KR', sans-serif;
	font-weigth: bold;
}

.firebaseui-idp-button {
	/* min-height: 20px; */
	/* max-width: 155px; */
}

.firebaseui-idp-twitter {
	background-color: #4A70F6;
}