<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                       http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

	<!-- 
		스프링에서 제공해주는 인코딩 필터를 등록
		- org.springframework.web.filter.CharacterEncodingFilter
	 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>
			org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
		<!-- 옵션1 : 인코딩 방식을 UTF-8로 설정 -->
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<!-- 옵션2 : 충돌 시 강제 인코딩 설정 -->
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 
		필터 대행 등록(Proxy Filter)
		- 어떤 필터든지 등록되는 형태는 다음과 같다
		- org.springframework.web.filter.DelegatingFilterProxy
		- filter-name에 내가 등록시킬 필터의 bean name을 적는다
	 
	 예시 : 
	 <filter>
	 	<filter-name>testFilter</filter-name>
	 	<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	 </filter>
	 <filter-mapping>
	 	<filter-name>testFilter</filter-name>
	 	<url-pattern>/*</url-pattern>
	 </filter-mapping>
	 -->

	<!-- 최상위 설정파일 등록 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/root-context.xml</param-value>
	</context-param>
	
	<!-- 모든 설정파일을 연결할 수 있는 도구를 등록 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- 요청을 처리하는 메인 서블릿 등록 -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		
		<!-- 추가 설정에 관련된 내용을 등록 -->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

</web-app>