<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminNotice">
	
	<!-- Notice 관리자 목록 -->
	<select id="adminNoticeList" resultType="noticeDto">
		SELECT * FROM NOTICE ORDER BY n_no DESC
	</select>
	
	<!-- 공지 게시글 페이지 네이션 -->
	<select id="getP" resultType="noticeDto" parameterType="map">
		SELECT 
			a.n_no, a.c_no, a.n_title, a.n_content, a.n_when 
		FROM 
			(SELECT ROWNUM rn, notice.* FROM NOTICE notice
			<if test="col != null and keyword != null"> 
				WHERE INSTR(${col},#{keyword}) > 0 
			</if>
			ORDER BY n_no ASC) a
			<if test="start != null and finish != null">
				WHERE 
					rn BETWEEN ${start} AND ${finish}
			</if>
	</select>
	
	<!-- Notice 게시글 리스트 검색 -->
	<select id="searchNotice" resultType="noticeDto" parameterType="map">
		SELECT * FROM Notice
		WHERE instr(${type}, #{keyword}) > 0
		ORDER BY n_no DESC
	</select>
	
	<!-- Notice 게시글 c_no + n_no 단일 조회 -->
	<select id="getCN" resultType="noticeDto" parameterType="noticeDto">
		SELECT * FROM NOTICE WHERE C_NO = #{c_no} AND N_NO =#{n_no}
	</select>
	
	<!-- Notice 관리자 수정 -->
	<update id="editNoticeAdmin" parameterType="noticeDto">
		UPDATE NOTICE SET 
		N_TITLE = #{n_title}, N_CONTENT = #{n_content}
		WHERE C_NO = #{c_no} AND N_NO = #{n_no}
	</update>
		
	<!-- Notice 게시글 관리자 삭제 -->
	<delete id="deleteAdmin" parameterType="noticeDto">
		DELETE NOTICE WHERE C_NO = #{c_no} AND N_NO = #{n_no}
	</delete>
	

</mapper>