<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin">

	<!-- 관리자가 회원아이디를 통해 회원을 삭제시킨다. -->

<resultMap type="memberDto" id="aroriMemberDto">
		<result column="member_no" property="member_no" />
		<result column="member_pw" property="member_pw" />
		<result column="member_email" property="member_email" />
		<result column="member_phone" property="member_phone" />
	</resultMap>

	<resultMap type="memberDto" id="memberDto">
		<result column="member_no" property="member_no" />
		<result column="member_id" property="member_id" />
		<result column="member_nick" property="member_nick" />
		<result column="member_state" property="member_state" />
		<result column="member_join" property="member_join" />
		<result column="member_login" property="member_login" />
		<result column="report_state" property="member_state" />
		<result column="suspension" property="member_suspension" />
	</resultMap>

	<delete id="delete" parameterType="memberDto">
		DELETE FROM MEMBER WHERE
		member_id=#{member_id}
	</delete>

<!--멤버+클래스 member_no 단일조회-->
<select id="getclass" resultType="classesDto" parameterType="int">
SELECT*FROM MEMBER INNER JOIN CLASSES ON MEMBER.MEMBER_NO = CLASSES.MEMBER_NO WHERE MEMBER.member_no=#{member_no}
</select>

<!--회원 1명이 가지고 있는 클래스의 개수-->
<select id="countclass" resultType="int" parameterType="int">
SELECT COUNT(classes.c_no )FROM CLASSES INNER JOIN MEMBER ON classes.MEMBER_NO = MEMBER.MEMBER_NO 
WHERE MEMBER.MEMBER_NO =#{member_no}
</select>



</mapper>