<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="classes">

	<!-- 클래스 시퀀스 발급 -->
	<select id="getSeq" resultType="int">
		SELECT classes_SEQ.NEXTVAL FROM DUAL
	</select>
	<!-- 클래스 생성 -->
	<insert id="createClasses" parameterType="classesDto">
		INSERT INTO classes VALUES(#{c_no}, #{member_no}, #{c_title}, #{c_subscribe}, SYSDATE, #{c_info})
	</insert>
	<!-- 단일 조회 -->
	<select id="get" parameterType="int" resultType="classesDto">
		SELECT * FROM classes WHERE c_no=#{c_no}
	</select>
	
	<!-- 정렬 목록 테스트 -->
	<select id="getMCI" resultType="mciDto" parameterType="map">
		SELECT * FROM MCI 
		<if test="key != null and value != null">
			WHERE ${key} = #{value} 
		</if>
		ORDER BY ${col} ${order}
	</select>
	
	<!-- 정보 수정 -->
	<update id="edit" parameterType="classesDto">
		UPDATE classes SET c_title=#{c_title}, c_info=#{c_info} WHERE c_no=#{c_no}
	</update>
	<!-- 클래스 삭제 -->
	<delete id="delete" parameterType="int">
		DELETE classes WHERE c_no=#{c_no}
	</delete>
	<!-- 검색 -->
	<select id="search" parameterType="map" resultType="mciDto">
		SELECT * FROM MCI 
		<if test="keyword != null and searchOption != null">
		WHERE INSTR(${searchOption}, #{keyword}) > 0 
		</if>
		ORDER BY ${col} ${order}
	</select>
	<!-- 클래스 주인인지 증명하기 위해 조회  -->
	<select id="checkM" resultType="classesDto" parameterType="classesDto">
		SELECT * FROM CLASSES WHERE MEMBER_NO = #{member_no} AND C_NO = #{c_no}
	</select>
	
	<!-- 구독 테이블 -->
	<!--  구독 테이블 시퀀스 -->
	<select id="getsubSeq" resultType="int">
		SELECT sub_SEQ.NEXTVAL FROM DUAL
	</select> 
	<!-- 구독-->
	<insert id="sub" parameterType="subDto">
		INSERT INTO subscribe VALUES (#{sub_no}, #{member_no}, #{c_no}, SYSDATE)
	</insert>
	<!-- 구독 취소 -->
	<delete id="delSub" parameterType="subDto">
		DELETE subscribe WHERE c_no=#{c_no} AND member_no=#{member_no}
	</delete>
	<!-- 구독수 -->
	<select id="countSub" parameterType="int" resultType="int">
		SELECT count(*) FROM subscribe WHERE c_no=#{c_no}
	</select>
	<!-- 구독 테이블 단일조회 -->
	<select id="checkSub" resultType="subDto" parameterType="subDto">
		SELECT * FROM subscribe WHERE member_no = #{member_no} and c_no = #{c_no}
	</select>
	<!-- 구독 데이터 업데이트 -->
	<update id="subUpdate" parameterType="classesDto">
		UPDATE classes SET c_subscribe=(SELECT COUNT(*) FROM subscribe WHERE c_no = #{c_no}) WHERE c_no = #{c_no}
	</update>
	<!-- 내가 구독한 클래스 목록 조회 -->
	<select id="mySub" parameterType="int" resultType="ClassesDto">
		SELECT c.* FROM CLASSES c INNER JOIN SUBSCRIBE s ON c.c_no = s.c_no WHERE s.member_no= ${member_no}
	</select>
	<!-- member_no회원이 구독한 클래스 정보(얘 사용할거임!) -->
	<select id="getSub" parameterType="memberDto" resultType="mciDto">
		SELECT mci.* FROM MCI mci INNER JOIN SUBSCRIBE sub ON mci.C_NO = sub.C_NO WHERE sub.MEMBER_NO = #{member_no}
	</select>
	<!--나를 구독한 사람들(모달용) -->
	<select id="subMe" parameterType="int" resultType="MemberDto">
		SELECT m.MEMBER_NICK  FROM MEMBER m INNER JOIN SUBSCRIBE s ON m.MEMBER_NO =s.MEMBER_NO WHERE s.C_NO #{c_no}
	</select>
	<!-- 회원이 구독한 클래스 목록 -->
	<select id="getMySubClass" resultType="subDto" parameterType="int">
		SELECT * FROM SUBSCRIBE WHERE MEMBER_NO = #{member_no}
	</select>

</mapper>

