<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
 <configuration>
	<typeAliases>
		<!-- MEMBER Table -->
		<typeAlias type="com.kh.arori.entity.MemberDto" alias="memberDto"/>
		
		<!-- ARORI_MEMBER Table -->
		<typeAlias type="com.kh.arori.entity.AroriMemberDto" alias="aroriMemberDto"/>
		
		<!-- PASSWORD_Q Table -->
		<typeAlias type="com.kh.arori.entity.PasswordQDto" alias="passwordQDto"/>
		
		<!-- Classes Table -->
		<typeAlias type="com.kh.arori.entity.study.ClassesDto" alias="classesDto"/>
		
		<!-- Report table -->
		<typeAlias type="com.kh.arori.entity.ReportDto" alias="reportDto"/>
	</typeAliases>
 </configuration>
