<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!-- MEMBER Table -->
		<typeAlias type="com.kh.arori.entity.member.MemberDto"
			alias="memberDto" />

		<!-- ARORI_MEMBER Table -->
		<typeAlias type="com.kh.arori.entity.member.AroriMemberDto"
			alias="aroriMemberDto" />

		<!-- PASSWORD_Q Table -->
		<typeAlias type="com.kh.arori.entity.member.PasswordQDto"
			alias="passwordQDto" />

		<!-- My_Quiz -->
		<typeAlias type="com.kh.arori.entity.study.MyQuizDto"
			alias="myQuizDto" />

		<!-- My Quiz + Quiz -->
		<typeAlias type="com.kh.arori.entity.study.MqInfoDto"
			alias="mqInfoDto" />

		<!-- My Answer -->
		<typeAlias type="com.kh.arori.entity.study.MyAnswerDto"
			alias="myAnswerDto" />

		<!-- Classes Table -->
		<typeAlias type="com.kh.arori.entity.study.ClassesDto"
			alias="classesDto" />

		<!-- Report table -->
		<typeAlias type="com.kh.arori.entity.member.ReportDto"
			alias="reportDto" />

		<!-- Subscribe Table -->
		<typeAlias type="com.kh.arori.entity.study.SubscribeDto"
			alias="subDto" />

		<!-- Quiz Table -->
		<typeAlias type="com.kh.arori.entity.study.QuizDto"
			alias="quizDto" />

		<!-- Question Table -->

		<typeAlias type="com.kh.arori.entity.study.AllQuestionDto"
			alias="allQuestionDto" />

		<!-- Question Type -->
		<typeAlias type="com.kh.arori.entity.study.QuestionTypeDto"
			alias="questionTypeDto" />

		<!-- OX -->
		<typeAlias type="com.kh.arori.entity.study.OxDto"
			alias="oxDto" />

		<!-- Multiple -->
		<typeAlias type="com.kh.arori.entity.study.MultipleDto"
			alias="multipleDto" />

		<!-- Explain -->
		<typeAlias type="com.kh.arori.entity.study.ExplainDto"
			alias="explainDto" />

		<!-- This_Quiz (VIEW) -->
		<typeAlias type="com.kh.arori.entity.study.ThisQuizDto"
			alias="thisQuizDto" />

		<!-- 퀘스쳔 오작교 -->
		<typeAlias type="com.kh.arori.entity.study.This_qDto"
			alias="this_qDto" />

		<!-- MCI Table -->
		<typeAlias type="com.kh.arori.entity.study.MCIDto"
			alias="mciDto" />

		<!-- Readme Table -->
		<typeAlias type="com.kh.arori.entity.study.ReadmeDto"
			alias="readmeDto" />

		<!-- Notice Table -->
		<typeAlias type="com.kh.arori.entity.study.NoticeDto"
			alias="noticeDto" />

		<!-- QNA Table -->
		<typeAlias type="com.kh.arori.entity.study.QnaDto"
			alias="qnaDto" />

		<!-- All_IMG Table -->
		<typeAlias type="com.kh.arori.entity.img.All_imgDto"
			alias="all_imgDto" />

		<!-- This_IMG Table (각 테이블 별 오작교) -->
		<typeAlias type="com.kh.arori.entity.img.This_imgDto"
			alias="this_imgDto" />

		<typeAlias type="com.kh.arori.entity.study.OxDto"
			alias="oxDto" />

		<!-- 전체 멤버 Table -->
		<typeAlias type="com.kh.arori.entity.member.AllMemberDto"
			alias="allMemberDto" />

<!-- 		<typeAlias type="com.kh.arori.entity.member.IncomeVO" -->
<!-- 			alias="incomeVO" /> -->

		<typeAlias type="com.kh.arori.entity.study.QnaMemberDto"
			alias="qnaMemberDto"/>

	</typeAliases>
</configuration>
