<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice">

	<!-- 공지 게시글 고유 번호 발급 -->
	<select id="getSeq" resultType="int">
		SELECT NOTICE_SEQ.NEXTVAL FROM DUAL
	</select>
	
	<!-- 공지 게시글 작성 -->
	<insert id="create" parameterType="noticeDto">
		INSERT INTO NOTICE VALUES(#{n_no}, #{c_no}, #{n_title}, #{n_content}, SYSDATE)
	</insert>
	
	<!-- 공지 게시글 단일 조회 (n_no) -->
	<select id="get" resultType="noticeDto" parameterType="noticeDto">
		SELECT * FROM NOTICE WHERE N_NO = #{n_no}
	</select>
	
	<!-- 공지 게시글 단일 조회 (c_no) -->
	<select id="getC" resultType="noticeDto" parameterType="noticeDto">
		SELECT * FROM NOTICE WHERE C_NO = #{c_no}
	</select>
	
	<!-- 공지 게시글 페이지 네이션 -->
	<select id="getP" resultType="noticeDto" parameterType="map">
		SELECT col.n_no, col.c_no, col.n_title, col.n_content, col.n_when FROM (SELECT ROWNUM rn, notice.* FROM NOTICE notice WHERE notice.C_NO = ${c_no}) col WHERE rn BETWEEN ${start} AND ${finish}
	</select>
</mapper>