<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="question">

	<!--  퀘스천 시퀀스 번호 발급 -->
	<select id="getSeq" resultType="int">
		SELECT aq_seq.NEXTVAL FROM DUAL
	</select>
	
	<!-- 퀘스천 생성 -->
	<insert id="create" parameterType="allQuestionDto">
		INSERT INTO ALL_QUESTION VALUES(#{question_no}, #{q_no}, #{qt_no}, #{aq_content}, SYSDATE)
	</insert>
	
	<!-- 퀘스쳔 수정 / 갱신 -->
	<update id="update" parameterType="allQuestionDto">
		UPDATE ALL_QUESTION SET AQ_CONTENT = #{aq_content} WHERE QUESTION_NO = #{question_no} AND Q_NO = #{q_no}
	</update>
	
	<!-- 퀘스쳔 단일 조회 -->
	<select id="get" resultType="allQuestionDto" parameterType="allQuestionDto">
		SELECT * FROM ALL_QUESTION WHERE Q_NO = #{q_no} AND QUESTION_NO = #{question_no}
	</select>
	
	<!-- 해당 퀴즈의 퀘스쳔 불러오기 -->
	<select id="getQuestion" resultType="allQuestionDto" parameterType="allQuestionDto">
		SELECT * FROM ALL_QUESTION WHERE Q_NO = #{q_no} ORDER BY QUESTION_NO ASC
	</select>
	
	<!-- 해당 퀴즈의 모든 퀘스쳔 불러오기 -->
	<select id="getTQ" resultType="thisQuizDto" parameterType="int">
		SELECT * FROM THIS_QUIZ WHERE Q_NO = ${q_no} ORDER BY QUESTION_NO ASC
	</select>
	
	<!-- 퀘스쳔 오작교 시퀀스 번호 발급 -->
	<select id="getSeq2" resultType="int" parameterType="this_qDto">
		SELECT ${table_name}_Q_SEQ.NEXTVAL FROM DUAL
	</select>
	
	<!-- 퀘스쳔 오작교 데이터 삽입 -->
	<insert id="insertThis" parameterType="this_qDto">
		INSERT INTO ${table_name}_Q VALUES(#{no}, #{question_no}, #{this_no})
	</insert>
	
	
	<!-- 정답 영역 -->
	<!-- ox답안 시퀀스 -->
	<select id="getSeqOx" resultType="int">
		SELECT ox_seq.NEXTVAL FROM DUAL
	</select>
	
	<!--OX 정답 생성 -->
	<insert id="createOx">
		INSERT INTO OX VALUES(#{no},#{o_content},#{x_content},#{ox_answer})
	</insert>
	
	<!-- 선다형 답안 시퀀스 -->
	<select id="getSeqMul" resultType="int">
		SELECT multiple_seq.NEXTVAL FROM DUAL
	</select>
	
	<!-- 선다형 정답 생성 -->
	<insert id="createMul">
		INSERT INTO MULTIPLE VALUES(#{no},#{multiple_one},#{multiple_two},#{multiple_three},#{multiple_four},#{multiple_answer})
	</insert>
	
	<!-- 서술형 답안 시퀀스 -->
	<select id="getSeqEx" resultType="int">
		SELECT explain_seq.NEXTVAL FROM DUAL
	</select>
	
	<!-- 서술형 정답 생성 -->
	<insert id="createEx">
		INSERT INTO EXPLAIN VALUES(#{no},#{explain_answer})
	</insert>

</mapper>