<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="quiz">

	<!--  퀴즈 시퀀스 번호 발급 -->
	<select id="getSeq" resultType="int">
		SELECT quiz_seq.NEXTVAL FROM DUAL
	</select>

	<!-- 퀴즈 생성 -->
	<insert id="createQuiz" parameterType="quizDto">
		INSERT INTO quiz VALUES(
		#{q_no},#{c_no},#{q_title},#{q_score},
		to_date(#{q_open},'yyyy-mm-dd hh:mi:ss'﻿), 
		to_date(#{q_close},'yyyy-mm-dd hh:mi:ss')﻿,
		#{q_runtime},#{q_scoring},
		to_date(#{q_score_open},'yyyy-mm-dd hh:mi:ss'),
		sysdate)
	</insert>
	
	<!-- 퀴즈 목록 -->
	<select id="getList" resultType="quizDto" parameterType="quizDto">
		SELECT * FROM QUIZ WHERE C_NO = ${c_no} ORDER BY Q_NO DESC
	</select>

</mapper>