<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="quiz">

	<!-- 퀴즈 시퀀스 번호 발급 -->
	<select id="getSeq" resultType="int">
		SELECT quiz_seq.NEXTVAL FROM DUAL
	</select>

	<!-- 퀴즈 생성 -->
	<insert id="createQuiz" parameterType="quizDto">
		INSERT INTO QUIZ
		VALUES(#{q_no},#{c_no},#{q_title},NULL,NULL,#{q_runtime},NULL,SYSDATE,NULL,0)
	</insert>

	<!-- 퀴즈 목록 -->
	<select id="getList" resultType="quizDto"
		parameterType="quizDto">
		SELECT * FROM QUIZ WHERE C_NO = ${c_no} AND Q_STATE = 1 ORDER BY Q_NO
		DESC
	</select>

	<!-- 퀴즈 단일 조회 -->
	<select id="get" resultType="quizDto" parameterType="quizDto">
		SELECT * FROM QUIZ WHERE C_NO = #{c_no} AND Q_NO = #{q_no} 
	</select>

	<!-- 퀴즈 수정 / 갱신 -->
	<update id="update" parameterType="quizDto">
		UPDATE QUIZ SET
		Q_TITLE = #{q_title},
		Q_OPEN =
		TO_DATE(#{q_open},'yyyy-mm-dd hh24:mi:ss'),
		Q_CLOSE =
		TO_DATE(#{q_close},'yyyy-mm-dd hh24:mi:ss'),
		Q_RUNTIME = #{q_runtime},
		Q_SCORE_OPEN =
		TO_DATE(#{q_score_open},'yyyy-mm-dd hh24:mi:ss'),
		Q_CONTENT = #{q_content},
		Q_STATE = 1
		WHERE C_NO = #{c_no}
		AND Q_NO = #{q_no}
	</update>
	
	<!-- 퀴즈 삭제 -->
	<delete id="delete" parameterType="quizDto">
		DELETE QUIZ WHERE C_NO = #{c_no} AND Q_NO = #{q_no}
 	</delete>

</mapper>