<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="report">

<insert id="write" parameterType="reportDto">
INSERT INTO report values(report_seq.nextval,#{report_member},#{report_type},#{report_content},#{report_crimi},sysdate)
</insert>

<select id="list" resultType="reportDto">
SELECT * FROM REPORT ORDER by report_no asc
</select>

<select id="content" resultType="reportDto" parameterType="int">
SELECT* FROM report WHERE report_no=#{report_no}
</select>

</mapper>


